.addBio{


  display: none;

  width: 100%;
  margin-top: 1rem;


  &__clickBtn{

    &:hover{
      background-color: transparent;
      color: $color-primary;
    }
  }

  &__inputBox{
    justify-content: space-between;
    width: 100%;
    max-width: 35rem;

    input{
      margin: 0;
      width: 70%;
      padding: 1rem;
      min-width: 20rem;
    }

    button{
      width: 25%;
      font-size: 2rem;
    }


  }


}