.avatar {

  position: relative;
  width: 3rem;
  height: 3rem;

  &__bgOverlay{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-radius: 100%;
    background-color: $color-bg-light;

    z-index: 1;
  }

  img{
    width: 100% !important;
    height: 100% !important;
    border-radius: 100%;
    position: relative;
    z-index: 10;

  }

  .online{
    position: absolute;
    bottom: 0;
    right: 0;

    width: 0.8rem;
    height: 0.8rem;
    background-color: #31A24C;
    border-radius: 100%;

    z-index: 20;
  }


}