.messagerHeader {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: $color-white;
  z-index: 1000;
  box-shadow: $shadow;

  display: flex;
  align-items: center;

  &__body {

    display: flex;
    align-items: center;
    padding: 0 1rem;

    &__text {
      margin-left: 1rem;

      p {
        font-size: 1.8rem;
        color: $color-text;
      }

      span {
        color: $color-text-secondary;
        font-size: 1.2rem;
      }

      .typing {
        color: #00e733;
      }

    }


  }


}

.justify-content-between {
  justify-content: space-between !important;
}