.message{
  max-width: 70%;
  margin: 0.8rem 1rem;





  &__body{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &__text{

      max-width: calc( 100% - 3.5rem);
      margin-left: 0.7rem;
      background-color: $color-bg-light;
      white-space: pre-wrap;
      padding: 1rem;
      border-radius: $container-border-radius;
      font-size: 1.6rem;
      line-height: 1.3;

    }

  }

  &__about{

    margin-left: 4rem;
    margin-top: 0.4rem;

    max-height: 0;
    overflow:hidden ;
    transition: all 0.2s ease-out;
    p{
      margin: 0;
      padding: 0;
    }


  }


  .show{
    max-height: 3rem;
  }


  &__day{
    align-self: center;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: $color-primary;
    border-radius: $container-border-radius;
    color: white;
  }

}

.message.own{

  align-self: flex-end;

  .message__body{

    a{
      order: 2;
    }
    .message__body__text{
      order: 1;
      margin-right: 0.7rem;
      margin-left: 0;
      background-color: $color-secondary;
      color: white;


    }

  }


  .message__about{
    display: flex;
    justify-content: flex-end;
    margin-right: 4rem;
    margin-left: 0;

  }

}

.dateFloat{
  position: fixed;
  top: calc( #{$header-height} + 1rem);
  //top: 1rem;
  //background: red;
  left: 50%;
  transform: translateX(-55%);
}


