.mainPage{


  width: calc(100% - #{$sidebar-width});
  height: 100%;
  margin-top: $header-height;
  display: flex;
  justify-content: center;


  @media (max-width: 760px) {
    width: 100%;
  }


  &__container{
    width: 85%;


    @media (max-width: 760px) {
      width: 95%;
    }

  }



  //profile header


  &__body{


    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;


    &__posts{
      width: 70%;

      & > *:first-child{
        margin-top: 1rem!important;
      }


      @media (max-width: 760px) {
        width: 100%;
      }

    }


    &__about{
      width: 28%;
      padding: 1.2rem 1.5rem;
      margin: 1rem 0;
      background-color: $color-container-bg;
      border-radius: $container-border-radius;


      @media (max-width: 760px) {
        width: 100%;
      }
      h3{
        font-size: 2rem;
        font-weight: bold;
        border-bottom: $input-border;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
      }

      &__item{

        font-size: 1.55rem;
        margin-bottom: 1.5rem;
        color: $color-text;


        a{
          font-weight: 600;
        }


        &:last-of-type{
          margin-bottom: 0.5rem;
        }

      }



    }


    .personList{
      width: 70%;
      padding: 1rem 2rem;
      margin-top: 1rem;
      border-radius: $container-border-radius;
      background-color: white;


      @media (max-width: 760px) {
        width: 100%;
      }

    }

  }

}
