//units


$header-height: 7rem;
$header-height-extra: 9rem; //$header-height + 2rem

$sidebar-width:18%;

$input-border-radius: 0.4rem;
$container-border-radius:1rem;



$shadow: 1px 1px 5px rgba(0,0,0,0.2);
$input-border: 1px solid rgba(#000,0.3);





//Colors

//$color-darkest-blue:#000c1c;

$color-primary:#011537;
$color-primary-light:#009e90;
$color-primary-dark:#216660;


$color-secondary:#2C70DA;
//$color-secondary-dark: #0d5880;
//$color-secondary-light:#3381e5;



$color-bg:#E0E6FE;
$color-bg-light:#f0f2f5;
$color-container-bg:#ffffff;

$color-text:#282323;
$color-text-secondary: #65676b;
//$color-text:#13293d;

$color-light-blue:#5cc;















$color-text-dark:#666666;
$color-white:#fff;
$color-gray-100: #f8f9fa;
$color-gray-200: #e9ecef;
$color-gray-300: #dee2e6;
$color-gray-400: #ced4da;
$color-gray-500: #adb5bd;
$color-gray-600: #6c757d;
$color-gray-700: #495057;
$color-gray-800: #343a40;
$color-gray-900: #212529;
$color-black:    #000;

$color-text-muted: #6c757d;




//Font Weights

$font-weight-light: 300;
$font-weight-normal:400;
$font-weight-bold:  700;
$font-weight-bolder:bolder;